@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
         url(../fonts/skranji-bold-webfont.woff);

}

/* 
* {
    box-sizing: border-box;

}

html {
    --color-blue: #091057;
    --color-orange: #ec8305;

    --color-yellow-pale: #fefef4;

    --font-regular: poppins-regular;
    --font-bold: nohemi-black;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; 

    background-color: var(--color-yellow-pale);

}

.logo {
    width: 300px;

}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: var(--font-bold);
    text-align: center;
} */




/* 
nav {
    background-color: var(--color-blue);
    padding: 1.75rem;
    display: flex;
    justify-content: center;
    gap: 4rem;

    grid-column: 1/15;

    a {
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        font-family: var(--font-bold);

    }

    a:hover {
        color: var(--color-orange);
    }
}


.hero {
    background-color: lightgrey;
    width: 100%;
    aspect-ratio: 16/5;

    grid-column: 1/15;
    grid-row: span 2;
}

section {
    grid-column: 1/15;

    display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    gap: 1rem;
}

h2 {
    font-family: var(--font-extrabold);
    grid-column: 2/14;
    font-size: 1.75rem;

    margin: 0;
    margin-top: 2.5rem;
    color: var(--color-orange);
}

.post-1 {
    border: 1px solid black;

    grid-column: 2/span 5;
    grid-row-end: span 2;

}

.post-2 {
    grid-column: 7/span 7;
    border: 1px solid black;
    aspect-ratio: 3/1;
    
}

.post-3 {
    grid-column: 7/span 7;
    grid-row-start: 3;
    border: 1px solid black;
    aspect-ratio: 3/1;
}

.cuisine-1 {
    grid-column: 2/span 4;
    border: 1px solid black;
}

.cuisine-2 {
    grid-column: 6/span 4;
    border: 1px solid black;
}

.cuisine-3 {
    grid-column: 10/span 4;
    border: 1px solid black;
    aspect-ratio: 1/1;
} */




* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow);
}

.logo {
    width: 200px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 3rem;
    margin-top: 0.9rem;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: var(--color-yellow-pale);
}

.logo-container {
    text-align: center;
}

.question {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: skranji-bold;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.search-bar input {
    padding: 15px;
    font-size: 1rem;
    border: 4px solid var(--color-orange);
    border-radius: 30px 0 0 30px;
    width: 300px;
    outline: none;
    border-right: none;
}

.search-bar button {
    background-color: var(--color-yellow-2);
    color: white;
    border: 4px solid var(--color-orange);
    border-radius: 0 30px 30px 0; 
    padding: 14px 20px;
    cursor: pointer;
    font-family: Poppins;
    border-left: none; 
}

.search-bar button:hover {
    background-color: var(--color-orange); 
}

#error-message {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

h2 {
    font-family: var(--font-bold);
    text-align: center;
    margin-top: 3rem;
}

.container {
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    gap: 1rem; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    padding: 3rem;
    padding-top: 0;
}

.card {
    width: 300px;
    aspect-ratio: 2/3;
    background-color: white;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    color: black;

    .pic {
        height: 70%;
        background-color: var(--color-orange);

    }

    h3 {
        margin: 0;
        margin-top: 1rem;

    } 
}

a {
    text-decoration: none;
}

.card:hover {
    box-shadow: 12px 12px var(--color-orange);
}