/* @font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


* {
    box-sizing: border-box;

}

html {
    --color-blue: #091057;
    --color-orange: #ec8305;

    --font-regular: poppins-regular;
    --font-bold: nohemi-black;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem;


}

nav {
    background-color: var(--color-blue);
    padding: 1.75rem;
    display: flex;
    justify-content: center;
    gap: 4rem;

    grid-column: 1/15;

    a {
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        font-family: var(--font-bold);

    }

    a:hover {
        color: var(--color-orange);
    }
}

.container {
    grid-column: 2/14;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.card {
    border: 1px solid black;
    grid-column-end: span 4;
    aspect-ratio: 1/1;
}

.more {
    grid-row-start: 3;
    grid-column: 1/15;
    display: flex;
    justify-content: center;
    padding: 2rem;

}

div.button{
    padding: 0.5rem;
    background-color: var(--color-orange);
    color: white;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    font-family: var(--font-extrabold);
} */

@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


@font-face {
    font-family: skranji-bold;
    src: url(../fonts/skranji-bold-webfont.woff2),
         url(../fonts/skranji-bold-webfont.woff);

}

* {
    box-sizing: border-box;
}

html {
    --color-blue: #091057;

    --color-yellow-pale: #fefef4;
    --color-yellow: #ffc502;
    --color-yellow-2: #f8ba57;
    --color-orange: #ff8400;

    --font-regular: poppins-regular;
    --font-bold: skranji-bold;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    /* display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem; */

    background-color: var(--color-yellow-pale);
}

.logo {
    width: 200px;
}

h1 {
    margin: 0;
    font-family: skranji-bold;
    font-size: 3rem;
    margin-top: 0.9rem;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: var(--color-yellow-pale);
}

.logo-container {
    text-align: center;
}

.hero, .ingredients, .instruction  {
    margin: 0 auto;
    width: 70%;
    background-color: var(--color-yellow);
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 3fr;

    border-radius: 15px;

    margin-bottom: 1rem;
}

.image {
    background-color: white;
    width: 100%;
    aspect-ratio: 1/1;
}

.content {
    padding: 1rem;
    

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
        grid-column: 2/span 3;
    }
}

@media screen and (max-width: 900px) {
    .hero, .ingredients, .instruction {
        grid-template-columns: 1fr 2fr;

    }
}

@media screen and (max-width: 660px) {
    .hero, .ingredients, .instruction {
        grid-template-columns: 1fr;
        
    }
}