@font-face {
    font-family: nohemi-black;
    src: url(../fonts/Nohemi-Black.otf);
    font-weight: regular;
}

@font-face {
    font-family: poppins-regular;
    src: url(../fonts/poppins-regular-webfont.woff),
        url(../fonts/poppins-regular-webfont.woff2);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(../fonts/poppins-extrabold-webfont.woff),
        url(../fonts/poppins-extrabold-webfont.woff2);
}


* {
    box-sizing: border-box;

}

html {
    --color-blue: #091057;
    --color-orange: #ec8305;

    --font-regular: poppins-regular;
    --font-bold: nohemi-black;
    --font-extrabold: poppins-extrabold;

}

body {
    margin: 0;
    margin-bottom: 4rem;
    font-family: var(--font-regular);
    
    display: grid;
    grid-template-columns: 4.5rem repeat(12, 1fr) 4.5rem;
    column-gap: 2rem;


}

nav {
    background-color: var(--color-blue);
    padding: 1.75rem;
    display: flex;
    justify-content: center;
    gap: 4rem;

    grid-column: 1/15;

    a {
        font-size: 1.25rem;
        color: white;
        text-decoration: none;
        font-family: var(--font-bold);

    }

    a:hover {
        color: var(--color-orange);
    }
}